@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

.nav-button {
    @apply px-8 py-2 rounded-full mx-1 transition-all duration-200 font-medium
}

.anav-button {
    @apply px-8 py-2 rounded-lg mx-1 transition-all duration-300 font-medium
}

.anav-button:hover {
    @apply -translate-y-1 bg-green-400 text-background
}

.side-button {
    @apply w-2/3 py-2 rounded-full mx-3 transition-all duration-200 font-medium
}

.hero-button {
    @apply mt-6 px-10 rounded-full font-medium py-4 bg-green-500 mr-8 transition-all duration-200
}

.hero-icons {
    @apply mt-6 px-4 py-4 text-[30px] transition-all duration-150 rounded-full border-2 cursor-pointer border-white
}

.hamburger {
    @apply transition-all duration-200 absolute w-12 right-10 top-10 h-8 z-40 flex justify-between flex-col cursor-pointer
}

.hamburger-bar {
    @apply w-full h-[2px] bg-white rounded-full
}

.bar-up {
    transform: rotate(225deg) translateY(-10px);
    @apply transition-all duration-500
}

.bar-down {
    transform: rotate(135deg) translateY(10px);
    @apply transition-all duration-500
}

.op0 {
    opacity: 0;
}

.sidebar {
    right: -100%;
    transition: .2s all ease;
}

.r0 {
    right: 0
}

.cv-button:hover .slide {
    right: 0;
    transition: all .5s ease;
}

.fa-download {
    transform: translateY(50%);
}

.cv-button:hover a,
.cv-button:hover i {
    color: #031728;
    transition: all .4s;
}

.section-heading {
    @apply text-6xl font-Poppins font-semibold uppercase bg-clip-text bg-gradient-to-r from-green-400 to-blue-500 text-transparent
}

.nav-down {
    @apply top-10
}

.nav-up {
    @apply -top-20
}

@tailwind base;
@tailwind components;
@tailwind utilities;