@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

.nav-button {
    @apply px-8 py-2 rounded-full mx-1 transition-all duration-200 font-medium
}

.anav-button {
    @apply px-8 py-2 rounded-lg mx-1 transition-all duration-300 font-medium
}

.anav-button:hover {
    @apply bg-green-400 text-background
}

.side-button {
    @apply w-2/3 py-2 rounded-full mx-3 transition-all duration-200 font-medium
}

.hero-button {
    @apply mt-6 px-10 rounded-full font-medium py-4 bg-green-500 mr-8 transition-all duration-200
}

.hero-icons {
    @apply mt-6 px-4 py-4 text-[30px] transition-all duration-150 rounded-full border-2 cursor-pointer border-white
}

.hamburger {
    @apply transition-all duration-200 absolute w-12 right-10 top-10 h-8 z-40 flex justify-between flex-col cursor-pointer
}

.hamburger-bar {
    @apply w-full h-[2px] bg-white rounded-full
}

.bar-up {
    transform: rotate(225deg) translateY(-10px);
    @apply transition-all duration-500
}

.bar-down {
    transform: rotate(135deg) translateY(10px);
    @apply transition-all duration-500
}

.op0 {
    opacity: 0;
}

.sidebar {
    right: -100%;
    transition: .2s all ease;
}

.r0 {
    right: 0
}

.cv-button:hover .slide {
    right: 0;
    transition: all .5s ease;
}

.fa-download {
    transform: translateY(50%);
}

.cv-button:hover a,
.cv-button:hover i {
    color: #031728;
    transition: all .4s;
}

.section-heading {
    @apply text-6xl font-Poppins font-semibold uppercase bg-clip-text bg-gradient-to-r from-green-400 to-blue-500 text-transparent mb-24
}

.nav-down {
    @apply top-10
}

.nav-up {
    @apply -top-20
}

.service-div {
    @apply bg-card w-11/12 transition-all duration-200 mt-16 min-h-[500px] rounded-lg
}

.service-heading {
    @apply text-2xl text-button font-Opensans font-bold text-center h-16
}

.service-text {
    @apply font-normal opacity-70 mt-4 text-center text-lg
}

.img-container {
    @apply grid w-11/12 mx-auto grid-cols-1 gap-8 text-center
}

.img-container div {
    @apply pt-12 pb-8 bg-card rounded-xl transition-all duration-300
}

.img-container div:hover {
    @apply bg-cardHover
}

.img-container div img {
    @apply mx-auto w-[150px] h-[150px] min-w-[150px] min-h-[150px]
}

.img-container div p {
    @apply font-Poppins text-xl font-semibold mt-6
}

.portfolio-button {
    @apply rounded-full px-8 py-3 transition-all duration-200 border-2 bg-button font-Opensans text-lg border-button font-bold text-card
}

.portfolio-button:hover {
    @apply bg-card text-white
}

.blog-container {
    @apply flex flex-col items-center justify-between mt-52 w-11/12 mx-auto my-44 space-y-16
}


.blog-div {
    @apply w-4/5 h-fit bg-card rounded-2xl pb-6
}

.blog-heading {
    @apply text-button font-Poppins text-lg font-bold mb-8
}

.blog-button {
    @apply px-6 border-2 transition-all duration-300 border-green-500 py-3 text-lg font-semibold rounded-lg bg-green-500
}

.blog-button:hover {
    @apply bg-card
}

@tailwind base;
@tailwind components;
@tailwind utilities;